<div>
    <div class="submit-form">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              required
              [(ngModel)]="record.firstname"
              name="firstname"
            />
          </div>
          <div class="form-group">
            <label for="middleinitial">Middle Initial</label>
            <input
              type="text"
              class="form-control"
              id="middleinitial"
              [(ngModel)]="record.middleinitial"
              name="middleinitial"
            />
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastname"
              [(ngModel)]="record.lastname"
              name="lastname"
            />
          </div>

          <div class="form-group">
            <label for="phonenumber">Phone Number (only numbers)</label>
            <input
              type="text"
              class="form-control"
              id="phonenumber"
              [(ngModel)]="record.phonenumber"
              name="phonenumber"
            />
          </div>

          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="text"
              class="form-control"
              id="email"
              [(ngModel)]="record.email"
              name="email"
            />
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              [(ngModel)]="record.address"
              name="address"
            />
          </div>
  
        <button (click)="addPhoneRecord()" class="btn btn-success">Submit</button>
      </div>
  </div>